.back-custom {
  background-color: #eaf4d3;
}

.btn {
  border-radius: 5%;
  background-color: #93c0a4 !important;
  width: fit-content;
}

.btn:hover {
  background-color: #688b76 !important;
}

.card-custom {
  background-color: #f4f7ee !important;
  border: solid !important;
  border-width: 1px !important;
}